ul {
    list-style-type: none;
}
body {
    background-image: url("../Media/SiteBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
.main {
    display: grid;
    grid-template-columns: 200px auto;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/* Positioning on Page */
a.header {
    margin: auto;
}
h1.header{
    grid-column: 2 / span 1;
    grid-row: 1;
}
.description {
    grid-column: 2;
    grid-row: 2;
}
.payroll {
    grid-column: 2;
    grid-row: 3;
}
.accounts{
    grid-column: 2;
    grid-row: 4;
}
.taxes {
    grid-column: 2;
    grid-row: 5;
}
.menu-container{
    grid-column: 1;
    grid-row: 2;

}
.menu-container a {
    color: #226DA3;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header {
    font-size: 70px;
    color: #226DA3;
    text-align: center;
}
h1.header {
    margin-top: 10px;
}
 img.header { 
    width: 100px;
    height: 100px;
}

.menu-container {
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 30px;
    max-width: 200px;
    margin-left: 10px;
    position: fixed;
    margin-top: 180px;
}
.menu-container p {
    text-align: center;
}
.content {
    color: white;
    margin-left: 5%;
}
.description {
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
}

.services {
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    padding: 15px;
    margin-top: 15px;
}

/* About Kyle Page Specific */
.kyle {
    grid-column: 2;
    grid-row: 2;
    width: 200px;
    height: auto;
    margin: auto;
}
.aboutKyle {
    grid-column: 2;
    grid-row: 3;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    padding: 15px;
    margin-top: 15px;
}

/* Contact Page Specific */
form {
    grid-column: 2;
    grid-row: 2;
    line-height: 1.6;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    padding: 15px;
    margin: auto;
    justify-content: center;
    column-gap: 10px;
}
