body {
    background-image: url("tweed.png");
}
/* #construction {
    width: 632px;
} */
img {
    max-width: 90%; 
    height: auto;
    border-radius: 30px;
}
/* .constructor .button {
    margin: 20;
} */
.grid {
    width: 100%;
    height: 100%;
   
}
.menu {
    font-size: 1em;
    margin: 1em;
    width: 8em;
    height: 2.5em;
    border-radius: 30px;
}
.main {
    width: 50%;
    height: 40%;
    min-height: 200px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    margin-top: 10%;
}
.main > h1 {
    
    padding-top: 10px;
}
.menu-container {
    padding-top: 1em;
    width: 50%;
    height: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
}
.button {
    font-size: 1.5em;
    border-radius: 30px;
    min-height: 30px;
    max-width: 250px;

}
.icon {
    height: 50px;
    width: 50px;
    padding: 1em;
}
/* responsive screen sizing */
@media(max-width:700px) {
    .main {
        width: 100%;
        height: auto;
    }
    .menu-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .button {
        width: 250px;
    }
}