body {
    background-image: url("tweed.png");
}

img {
    max-width: 75%; 
    height: auto;
    border-radius: 30px;
}

h1, h3 {
    font-family: 'Bad Script', cursive;
    letter-spacing: 2px;
}

.image {
    max-width: 600px;
    max-height: 300px;
}
.intro {
    color: white;
    margin: 0px;
}
.hello {
    width: 200px;
    margin: auto;
}
.grid {
    width: 100%;
    height: 100%;
}
.menuIcon {
    display: none;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 0px;
    float: left;
}
.main {
    width: 60%;
    height: 40%;
    min-height: 200px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    background-color: #2378d0;
    margin-top: 10%;
    padding-bottom: 20px;
}
#construction {
    background-color: white;
    margin-bottom: 30px;
    min-height: 150px;
    padding-top: 2%;
    padding-left: 10px;
    padding-right: 10px;
}
.main > h1 {
    padding-top: 10px;
}
.menu-container {
    padding-top: 1em;
    width: 50%;
    height: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
}
.button {
    background-color: white;
    font-size: 1.5em;
    border-radius: 30px;
    min-height: 30px;
    max-width: 250px;
}
.icon {
    height: 50px;
    width: 50px;
    padding: 1em;
}

/* responsive screen sizing */
@media(max-width:700px) {
    .main {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    .menu-container {
        width: 100%;
        height: 100%;
        display: none;
        grid-template-columns: auto;
        justify-content: center;
        top: 0;
        z-index: 1;
        position: absolute;
        padding-top: 20%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .button {
        width: 250px;
        height: 100px;
    }
    .image {
        max-width: 90%;
    }
    .menuIcon {
        display: inline;
    }
}